__pycache__/
data/
data_process/
Hand_pose
cfg/
assets/
thirdparty/mano_v1_2/
vis/
*.out
*.zip
*.log
*.png
*.jpg
.conda
.gitignore
processed_data/
processed_data1/
mesh_output/
manopth/
wandb/
checkpoints/
checkpoints_no_contact/
*.pth
*.pkl
*.pt
*.json
*.yml
*.txt
*.csv
VLM/
demo_s3_vertices.py
demo_val.py
demo_valid.py
demo.py
inference.py